<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #9e9c9c;">
  <a class="navbar-brand" href="/">新北市</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/spot">觀光景點</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/restaurant">道地小吃</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/activity">節慶活動</a>  
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          部落格
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/blog">部落格首頁</a>
          <a class="dropdown-item" href="/user-blog">個人部落格</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        {{#if loginUser}}
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{loginUser}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/savespot">已儲存景點</a>
          <a class="dropdown-item" href="/user-blog">個人部落格</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">登出</a>
      </li>
      {{else}}
      <li class="nav-item">
      <a class="btn btn-outline-success" style="margin:0 3px;" href="/signup">註冊</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-outline-warning" href="/login">登入</a>
      </li>
      {{/if}}
    </ul>
  </div>
</nav>