<style>
   
    div {
        text-align: center;
        padding: 1em;
    }
    .d1 {
        width: 55%;
        margin: auto;
        text-align: left; 
    }
    .d2 {
        width: 55%;
        margin: auto;
        text-align: center; 
    }
    a{
        margin-bottom: 3.5px;
    }
</style>
<article>
    <div>
        <h1>介紹新北市</h1>
        <div class="d2">
            {{#each district}}
            <a href="/spot/{{Area}}" class="btn btn-outline-info">{{Area}}</a>
            {{/each}}
        </div>

        <img src="/img/newTaipeicity.png" alt="">
        
        <div class="d1">
            <h2>新北市地理位置</h2>
            <p>新北市位於台灣最北端，東經122度、北緯25度，面積為2052.5667平方公里，包圍著台北市，東北與基隆市為鄰、東南接宜蘭縣、西南鄰桃園市；目前新北市的交通建設已逐漸完成，捷運網絡已與台北市接軌，日後可成為大台北都會帶的一環。新北市花為杜鵑花，市樹為樟樹。
            </p>
            <h2>新北市的地理區域</h2>
            <p>新北市劃有板橋區 (舊名：枋橋)、三重區、中和區、永和區、新莊區、新店區、土城區、蘆洲區、汐止區 (舊名：水返腳)、樹林區、淡水區 (舊名：滬尾)、三峽區 (舊名：三角湧)、鶯歌區、瑞芳區
                (舊名：坩仔賴)、五股區、泰山區、林口區、深坑區、石碇區、坪林區、三芝區、石門區、八里區、平溪區、萬里區、烏來區、雙溪區、貢寮區、金山區等區，其中以板橋區人口數最多。</p>
            <h2>新北市的在地生活</h2>
            <p>新北市的風景名勝為全台之冠，體驗新北市的在地生活，可前往繁榮的板橋商圈，板橋後站與新站的繁華街景讓您放鬆心情，免費的接駁公車往來行駛，將板橋新後站連結為一大休閒娛樂商圈；淡水老街、三峽老街、鶯歌老街、金山老街的懷舊風情讓您回味無窮，道地的古早小吃、純樸的藝術建築、熱情的人文風土都能讓你流連忘返；三芝、石門、萬里、瑞芳、貢寮等海岸風景，徐徐海風令人心曠神怡。平溪有天燈的故鄉之稱，還被世界權威旅遊資訊出版商選為全球死前必遊節慶之一，與德國慕尼黑啤酒節、義大利威尼斯嘉年華、西班牙奔牛節、巴西嘉年華等14個節慶齊名，平溪天燈節正式躍上國際版面。
            </p>
            <h2>新北市旅遊一點靈</h2>
            <p>新北市與台北市捷運相互通達，到新北市旅遊更是節省了許多交通問題，新北市旅遊景點豐富，像是烏來溫泉、金山溫泉、坪林形象商圈、滿月圓森林遊樂區、烏來風景區、十八王公廟、草嶺古道、黃金博物園區、九份、金瓜石、福隆海水浴場、三峽清水祖師廟等等，能讓您留下豐富且精彩的回憶。
            </p>
        </div>
    </div>

</article>
<script>

</script>